<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
    <defaultProxy enabled="false">
      <proxy usesystemdefault="false" />
      <bypasslist>
        <add address=".*" />
      </bypasslist>
    </defaultProxy>
  </system.net>
</configuration>